.git
.github
.vs
.vscode
.idea

bin
obj
out
Logs
*.log

.nuget/packages
.dotnet
Kpett.ChatApp.Tests/bin
Kpett.ChatApp.Tests/obj

appsettings.Development.json
.env
.env.*
!/.env.example
Stack.env
Stack.env.*
!/Stack.env.example
